/**
 * @type {{classname}}{{#description}}
 * {{{description}}}{{/description}}
 * @export
 */
export type {{classname}} =
    {{#oneOf}}
    {{{.}}}{{^-last}} | {{/-last}}{{#-last}};{{/-last}}
    {{/oneOf}}

{{#vendorExtensions.discriminatorEnum}}
export enum {{.}} {
    {{#oneOf}}
    {{{.}}} = "{{{.}}}",
    {{/oneOf}}
}
{{/vendorExtensions.discriminatorEnum}}